.title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #4285f4;
    text-align: center ;
    
}

.Cardtitle{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #4285f4;
    
}

.whychoose-container{
    margin-top: 2rem;
    margin-bottom: 40px;
    background-color: transparent;
}