.promotional-section {
  background-color: #2563eb;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  width: 50%; /* Occupy half the width on larger screens */
  min-height: 100vh; /* Full viewport height */
}

.promotional-section h1 {
  font-size: 2.5rem;
  max-width: 800px;
  text-align: center;
}

@media (max-width: 1023px) {
  .promotional-section {
    display: none; /* Hide promotional section on smaller screens */
  }
}

.login-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
}

.login-section h1 {
  font-size: 2rem;
  color: #1e40af; /* Darker blue for titles */
}

.login {
  background-color: #4285f4;
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.login:hover {
  background-color: #2563eb;
}

.custom-input {
  border: 1px solid #ccc; /* Default light gray border */
  padding: 0.75rem 1rem;
  border-radius: 4px;
  width: 100%;
  outline: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.custom-input:focus {
  border-color: #4285f4; /* Vibrant blue border when valid */
  box-shadow: 0 0 8px rgba(66, 133, 244, 0.8); /* Vibrant glow effect when valid */
}

/* Styles for invalid input */
.invalid-input {
  border: 1px solid #f87171; /* Red border for invalid input */
  box-shadow: 0 0 8px rgba(248, 113, 113, 0.8); /* Red glow for invalid input */
}

.invalid-input:focus {
  border-color: #f87171; /* Red border on focus when invalid */
  box-shadow: 0 0 8px rgba(248, 113, 113, 0.8); /* Maintain red glow on focus */
}

.error-text {
  color: #f87171;
  font-size: 0.9rem;
}



.signup {
  color: #4285f4;
  text-decoration: none;
  background: transparent;
}

.signup:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .login-section {
    padding: 4rem; /* Add more spacing on larger screens */
  }

  .promotional-section {
    display: flex; /* Visible on larger screens */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .login-section {
    padding: 1rem;
  }

  .custom-input {
    padding: 0.5rem 0.75rem;
  }

  .login {
    font-size: 0.9rem;
  }
}

.back-button {
  color: #4285f4;
  background-color: transparent;
  border: none; 
  padding: 0; 
  margin-bottom: 20px;
}

.back-button:hover{
  color: #2563eb;
}

