/* Global reset for body and html */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color:  #F3F4F6;
  ; /* Same color for the whole page */
}

/* Make sure the entire investment page has the same background */
.investment-page {
  width: 100%;
  height: 100%;
  background-color:#F3F4F6; /* Tailwind's gray-100 */
}

/* Investment grid layout */
.investment-grid {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
}

.gallery-section {
  flex: 2;
}

.details-section {
  flex: 1;
}

/* Project description section with the same background */
.project-details-section {
  font-size: 1.2rem;
  margin-top: 20px;
  background-color: #F3F4F6;
  padding: 20px;
  border-radius: 8px; 
}
